<div class="home-background h-full">
  <header class="p-5">
    <h1 class="py-5 text-5xl font-semibold uppercase flex justify-center text-primary">
      App Trips
    </h1>
  </header>
  <div class="home-container pb-10 flex w-[1400] m-auto justify-center gap-4">
    <div class="filters-container w-72">
      <app-trip-filters (onFilterChange)="fetchTrips()"></app-trip-filters>
    </div>
    <div class="trips-container gap-4 flex flex-col w-[700px]">
      <!--If loading, we create as much loading skeletons as items fetched-->
      @if (store.state() === 'loading') {
        @for (item of [].constructor(appStore.filters().limit); track $index) {
          <div
            class="w-[700px] h-[202px] rounded-md animate-pulse bg-gray-300 dark:bg-gray-600"
          ></div>
        }
      } @else {
        @for (trip of store.trips(); track trip.id; let i = $index) {
          <div class="trip relative shadow-md border-primary border rounded-md flex w-[700px]">
            <!--Score badge-->
            <span
              [ngClass]="scoreProperties[trip.score].color"
              class="py-1 px-3 rounded-full text-white font-medium absolute top-2 right-2"
              >{{ scoreProperties[trip.score].text }}</span
            >
            <img
              class="flex-none"
              alt="trip thumbnail"
              width="200"
              height="200"
              [priority]="i < 5 ? true : false"
              [ngSrc]="trip.thumbnailUrl"
            />
            <div class="trip-information w-full flex flex-col justify-between">
              <div class="p-3">
                <h2 class="text-2xl">{{ trip.title }}</h2>
                <app-star-rating [starSize]="18" [rating]="trip.rating"></app-star-rating>
              </div>
              <div class="trip-price p-3 flex justify-between bg-primary-opacity items-center">
                <span class="font-medium text-lg">{{
                  trip.price | currency: localeCurrencies[locale]
                }}</span>
                <button
                  class="text-white bg-primary rounded-md font-medium px-3 py-2 hover:bg-primary-hover transition"
                >
                  View >
                </button>
              </div>
            </div>
          </div>
        } @empty {
          <div class="text-center">No results found.</div>
        }
      }
      <!--Pagination control (using plain svgs instead of files (better performance but less readable))-->
      <div class="pagination-container flex justify-center">
        <div class="pagination w-52 flex justify-center items-center">
          <button
            [disabled]="store.page() === 1"
            (click)="getPage(1)"
            aria-label="first page"
            class="border-r border-white rounded-s-md text-white bg-primary p-2.5 disabled:bg-disabled disabled:cursor-not-allowed hover:bg-primary-hover"
          >
            <svg width="20" height="20" viewBox="3 3 18 18">
              <path d="m12.707 7.707-1.414-1.414L5.586 12l5.707 5.707 1.414-1.414L8.414 12z"></path>
              <path
                d="M16.293 6.293 10.586 12l5.707 5.707 1.414-1.414L13.414 12l4.293-4.293z"
              ></path>
            </svg>
          </button>
          <button
            aria-label="previous page"
            [disabled]="store.page() === 1"
            (click)="getPage(store.page() - 1)"
            class="text-white bg-primary p-2 disabled:bg-disabled disabled:cursor-not-allowed hover:bg-primary-hover"
          >
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
              ></path>
            </svg>
          </button>
          <input
            #pageInput
            (keydown.enter)="getPage(pageInput.value)"
            id="pageInput"
            type="text"
            aria-label="page input"
            [value]="store.page()"
            class="w-12 text-center h-full bg-primary-opacity"
          />
          <button
            aria-label="next page"
            [disabled]="store.page() === store.maxPages()"
            (click)="getPage(store.page() + 1)"
            class="text-white bg-primary p-2 disabled:bg-disabled disabled:cursor-not-allowed hover:bg-primary-hover"
          >
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
              ></path>
            </svg>
          </button>
          <button
            [disabled]="store.page() === store.maxPages()"
            (click)="getPage(store.maxPages())"
            aria-label="last page"
            class="border-l border-white rounded-e-md text-white bg-primary p-2.5 disabled:bg-disabled disabled:cursor-not-allowed hover:bg-primary-hover"
          >
            <svg width="20" height="20" viewBox="3 3 18 18">
              <path d="M10.296 7.71 14.621 12l-4.325 4.29 1.408 1.42L17.461 12l-5.757-5.71z"></path>
              <path d="M6.704 6.29 5.296 7.71 9.621 12l-4.325 4.29 1.408 1.42L12.461 12z"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
