<div class="filters-container rounded-md border border-primary shadow-md">
  <section class="filters-section flex justify-between items-center p-3 border-b border-primary">
    <span class="font-semibold text-xl">Filter by:</span>
    <button
      (click)="resetFilters()"
      type="button"
      class="text-white uppercase bg-primary rounded-md font-medium px-2 py-1 hover:bg-primary-hover transition"
    >
      Reset
    </button>
  </section>
  <form (change)="onFormValueChange()" [formGroup]="filtersForm">
    <section class="filters-section p-3 border-b border-primary">
      <span class="font-semibold">Sort</span>
      <div class="flex gap-2">
        <div class="w-full">
          <!--Example of how we can use defer to save bundle size, this one saves 18KBs of first load (without compression)-->
          @defer (on hover) {
            <app-dropdown
              (valueManuallyChanged)="onFormValueChange()"
              formControlName="sortBy"
              [data]="sortByDropdown"
            ></app-dropdown>
          } @placeholder {
            <div
              class="dropdown-input hover:bg-slate-100 transition border border-primary shadow-sm py-1 px-2 rounded-md flex items-center justify-between text-base"
            >
              <span>Creation Date</span>
              <svg width="22" height="22" viewBox="0 0 24 24">
                <path
                  d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"
                ></path>
              </svg>
            </div>
          }
        </div>
        <button
          type="button"
          (click)="toggleOrder()"
          aria-label="Order"
          class="order-button border rounded-md border-primary p-1 hover:bg-slate-100"
        >
          @if (appStore.filters().sortOrder === 'DESC') {
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path
                d="m18.707 12.707-1.414-1.414L13 15.586V6h-2v9.586l-4.293-4.293-1.414 1.414L12 19.414z"
              ></path>
            </svg>
          } @else {
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M11 8.414V18h2V8.414l4.293 4.293 1.414-1.414L12 4.586l-6.707 6.707 1.414 1.414z"
              ></path>
            </svg>
          }
        </button>
      </div>
    </section>
    <section class="filters-section p-3 border-b border-primary">
      <span class="font-semibold">Price</span>
      <div class="mt-2">
        <app-double-range-slider
          [min]="0"
          [max]="10000"
          formControlName="price"
        ></app-double-range-slider>
      </div>
    </section>
    <section class="filters-section p-3 border-b border-primary">
      <span class="font-semibold">Title</span>
      <input
        class="update-input w-full hover:bg-slate-100 transition border border-primary shadow-sm py-1 px-2 rounded-md text-base"
        formControlName="titleFilter"
        aria-label="title"
        id="title"
        placeholder="Search trip by title"
      />
    </section>
    <section class="filters-section p-3 border-b border-primary flex flex-col">
      <span class="font-semibold">Min. Rating</span>
      <span>{{ appStore.filters().minRating || 0 }} Stars</span>
      <input
        class="w-full accent-primary"
        type="range"
        formControlName="minRating"
        aria-label="min rating"
        min="0"
        max="5"
      />
      <div class="flex w-full justify-between">
        <span class="text-sm">0</span>
        <span class="text-sm">5</span>
      </div>
    </section>
    <section class="filters-section p-3 border-b border-primary flex items-center justify-between">
      <span class="font-semibold">Items per Page</span>
      <!--We can control this input so no huge numbers are sent (is backend controlling huge numbers?)-->
      <input
        class="update-input w-20 hover:bg-slate-100 transition border border-primary shadow-sm py-1 px-2 rounded-md text-base"
        formControlName="limit"
        id="limit"
        type="number"
        aria-label="number of items to show"
        max="50"
      />
    </section>
    <section class="filters-section p-3 border-b border-primary">
      <span class="font-semibold">Tags</span>
      <input
        class="update-input w-full hover:bg-slate-100 transition border border-primary shadow-sm py-1 px-2 rounded-md text-base"
        formControlName="tags"
        id="tags"
        aria-label="tags input"
        placeholder="Search by tags, sepparated by comma"
      />
    </section>
  </form>
</div>
